.nav {
    display: flex;
    background-color: rgb(223, 255, 232);
    gap: 20px;
    
}
body {
    background: rgb(69, 209, 27);
background: linear-gradient(90deg, rgb(17, 207, 0) 0%, rgb(44, 255, 55) 73%, rgb(171, 255, 156) 100%);
    color: black;
    
}
